* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;

    /* default font */
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: white;
}

p {
    color: rgb(43, 226, 198);
    /* text-shadow: 1px 1px 2px rgb(234, 130, 218), 0 0 25px rgb(238, 136, 196), 0 0 5px rgb(175, 111, 234); */
    font-size: 25px;
    
}
span {
    padding: 10px;
    font-size: 25px;
    color: rgb(43, 226, 198);
    float: right;
    text-shadow: 1px 1px 2px rgb(48, 32, 46), 0 0 25px rgb(59, 40, 51), 0 0 5px rgb(36, 32, 40);
}
button {
    margin-top: 5px;
    padding: 10px;
    outline: none;
    background-color: rgb(43, 226, 198);
    color: white;
    text-shadow: 1px 1px 2px rgb(234, 130, 218), 0 0 25px rgb(238, 136, 196), 0 0 5px rgb(175, 111, 234);
    font-size: 25px;
}
button:hover {
    cursor: pointer;
    opacity: 45%;
    transition: 0.75s;
    box-shadow: 10px 10px 5px rgb(238, 136, 196);
}

.top-bar button {
    padding: 10px;
    float: left;
}

#str-card {
    padding-top: 125px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#str-card h1 {
    padding: 15px ;
    font-size: 35px;
    text-align: center;
    color: rgb(43, 226, 198);
    text-shadow: 1px 1px 2px rgb(234, 130, 218), 0 0 25px rgb(238, 136, 196), 0 0 5px rgb(175, 111, 234);
    /* border: 3px solid rgb(60, 18, 196); */
}
#str-card p {
    padding: 25px;
    font-size: 35px;
    /* text-align: center; */
    color: black;
}
#str-btn {
    padding: 15px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#question {
    padding: 15px;
    display: none;
    justify-content: center;
}
.responses {
    padding: 15px;
    display: none;
    justify-content: center;
}
.rslts {
    padding: 15px;
    display: none;
    justify-content: center;
}
.final {
    padding: 15px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
