* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;

    /* default font */
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: white;
}

p {
    color: rgb(43, 226, 198);
    text-shadow: 1px 1px 2px rgb(234, 130, 218), 0 0 25px rgb(238, 136, 196), 0 0 5px rgb(175, 111, 234);
    font-size: 25px;
    float: right;
    
}

button {
    margin-top: 5px;
    padding: 10px;
    outline: none;
    background-color: rgb(43, 226, 198);
    color: white;
    text-shadow: 1px 1px 2px rgb(234, 130, 218), 0 0 25px rgb(238, 136, 196), 0 0 5px rgb(175, 111, 234);
    font-size: 25px;
}
button:hover {
cursor: pointer;
opacity: 45%;
transition: 0.75s;
box-shadow: 10px 10px 5px rgb(238, 136, 196);
}

.outer-container {
    padding: 10px;
}
.top-bar {
    padding: 10px;
    display: inline;
}
.top-bar p {
    padding: 10px;
    display: inline;
}